:root {
    --bgcolor1: rgb(167, 24, 143);
    --bgcolor2: rgb(29, 17, 139);
    --bgcolorcards1: rgb(255, 255, 255);
    --bgcolorcards2: rgb(255, 234, 234);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;

}

p { text-indent: 20px; }

body {
    height: 100vh;
    width: 100%;
}


div {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu main rside"
        "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    gap: 5%;
    border: 10%;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;


}

nav {
    display: flex;
    grid-area: menu;
    flex-direction: row;
    transform: rotate(-90deg);
    position: fixed;
    top: 50%;
    left: -8%;


}


main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 5%;

}


aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}













@media screen and (max-width: 800px) {
    body {
        background: black;
        font-size: medium;
    }
}