:root {
    --first-color: rgb(170, 80, 66);
    --second-color: rgb(216, 189, 138);
    --third-color: rgb(216, 215, 143);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}






@media (max-width: 400px) {}