:root {
    --bgcolor1: rgb(167, 24, 143) ;
    --bgcolor2: rgb(29, 17, 139);
    --bgcolorcards1: rgb(255, 255, 255); 
    --bgcolorcards2: rgb(255, 234, 234); 



}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
overflow: hidden;
height: 100vh;
background: linear-gradient(45deg, var(--bgcolor1), var(--bgcolor2));
font-size: larger;


}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 2rem;
    padding: 5%;
}

article:hover {
    font-weight: lighter;

}



.cards>article {
    background: linear-gradient(180deg, var(--bgcolorcards1), var(--bgcolorcards2));
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(142, 142, 142);
    
}




@media screen and (max-width: 800px) {
    body {
      background: black;
      font-size: medium;
    }
  }
